.admintitle
{
		background-color:#530602;
		color:#fff;
		margin-left:20px;
		margin-right:20px;
		height:140px;
		line-height:140px;
}
.dashboard
{
	background-color:#1DEFEF;
	color:#000;
		margin-left:500px;
		margin-right:500px;
		height:140px;
		font-height:25px;
}